<main>
<section class="general-info" id="content-meta-info" data-content-id="<%= @question.id %>" data-userid="<%= current_user.try(:id) %>" data-content-type="<%= @question.class%>" data-content-has-upvoted-current="<%= !@question.upvotes.where(user_id: current_user.id).empty? if current_user %>" data-content-has-downvoted-current="<%= !@question.downvotes.where(user_id: current_user.id).empty? if current_user%>" >
  <div class="general-overview">
    <h2 class="general-info-more"><%= link_to 'Try a new search', '/search?utf8=✓&search_term=&commit=Search' %></h2>
  </div>
  <div class="general-comments">
    <div class="observation-tags">
      <div class="comment">
        <div class="comment-type type-observation"> + observation</div>
        <div class="comment-type type-question"> + question</div>
        <div class="comment-type type-hypothesis"> + hypothesis</div>
      </div>
      <div id="observation-container-jq" class="comments-container-jq">
      </div>
      <div id="questions-container-jq" class="comments-container-jq">
      </div>
      <div id="hypothesis-container-jq" class="comments-container-jq">
      </div>
    </div>
</section>
<section class="hypothesis-editor detail-text-view">
  <div class="general-lab-modifier">
    <div>
      <button class="action main-upvote"><span class="main-upvote-count"></span><i class="fa fa-arrow-up"></i></button>
      <h2 class="general-lab-upvote">Upvote<span> <%= @question.upvotes.count %></span></h2>
      <br>
      <button class="action main-downvote"><span class="main-downvote-count"></span><i class="fa fa-arrow-down"></i></button>
      <h2 class="general-lab-downvote">Downvote<span> <%= @question.downvotes.count %></span></h2>

    </div>
  <div class="lab-tags">
    <% @question.tags.each_with_index do |tag, index| %>
      <div class="lab-tag applied"><%= tag.name %></div>
    <% end %>
  </div>
  </div>
  <h2><%= @question.title %></h2>
  <span class="comment">
    <span class="user">
      <% if (current_user && current_user.id == @question.user_id) %>
        <br>
        <span class="lighten"> <%= link_to "Edit", edit_question_path(@question.id) %> </span>
      <% end %>
    </span>
  </span><br>
  <p id="notice"><%= notice %></p>
  <br>
  <p>
  <%= raw @question.body %>
  </p>
  <br>
   <span class="lighten">submitted by </span>
      <%= link_to User.find(@question.user_id).name, "/users/#{@question.user_id}" %>
     <br>
      <span class="lighten"><%= @question.created_at %></span>

      <!-- BREADCRUMB TIME! -->
      <br><br>
      <div class="breadcrumb-trail">
        <h3>Associated Entries</h3><br>

        <h4>OBSERVATIONS</h4>
          <ul>
            <li><%=link_to Lab.find(@question.lab_id).title, "/observations/#{@question.lab_id}"%></li>
          </ul>
        <h4>HYPOTHESES</h4>
        <% current_lab = Lab.find(@question.lab_id) %>
        <% current_lab.hypotheses.map do |h|%>
          <ul>
            <li><%=link_to h.title, "/hypotheses/#{h.id}"%></li>
          </ul>
        <%end%>
      </div>

      <!-- END BREADCRUMB -->

</section>
<section class="hypothesis-editor visualization-view hidden">
  <div class="lab-graphic"></div>
</section>
</main>



<div id="myModal" class="modal fade" role="dialog" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hypothesis Like Submission</h4>
      </div>
      <div class="modal-body">
        <p>In order to proceed with your "like" you must leave a review of this hypothesis</p>
        <input placeholder="Review title", required="true" type="text" id="review-submission-title" style="width:100%;height:50px;"> </input>
        <textarea id="review-submission-content" style="width:100%;height:200px;"> </textarea>
        <br>
        <button id="hypothesis-submit"> Submit</button>

      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
