<section class="intro-graphic">
      <%= image_tag 'co-lab.png', class:"intro-graphic-logo" %>
</section>
<section class="text intro-search">
	<h2>The <strong>crowd-sourced</strong> hub for<br><strong class="searchbar">scientific</strong> <strong>research</strong>.</h2> 
	<div class="js-to-labs white rounded blue-border">explore</div>
	<!-- 
	<%= form_tag("labs/search", method: "get") do %>
	  <%= label_tag(:q, "Search for ...") %>
	  <%= text_field_tag(:q)%>
	  <br>
	  <%= submit_tag("Search") %>
	<% end %>
	 -->
</section>
<%= javascript_include_tag "science-map" %>