<section class="intro-graphic">
      <%= image_tag 'co-lab.png', class:"intro-graphic-logo" %>
</section>
<section class="text intro-search">
    <h1>Innovation Co-Lab</h1>
    <h2>a <strong> crowd-sourced</strong> hub for <strong>scientific research</strong></h2>
</section>
<section class="text centered">
<h1>Time to Collaborate.</h1>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>
</section>
<%= javascript_include_tag "science-map" %>
