<%= form_for(lab, url: observation_path(lab.id)) do |f| %>
  <% if lab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lab.errors.count, "error") %> prohibited this lab from being saved:</h2>

      <ul>
      <% lab.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
   <%= f.text_area :body, id: "summernote" %>
  </div>

  <div class="actions">
    <%= f.button :submit, class:'btn btn-default' %>
  </div>
<% end %>

