<%= form_for(lab, url: observations_path) do |f| %>
  <% if lab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lab.errors.count, "error") %> prohibited this lab from being saved:</h2>

      <ul>
        <% lab.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <br>
    <%= f.text_field :title,value: params[:title], required: true %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, id: "summernote" %>
  </div>

  <%= hidden_field_tag 'lab[create_from]', params[:create_from] %>
  <%= hidden_field_tag 'lab[create_from_id]', params[:create_from_id] %>
  <%= hidden_field_tag 'lab[parent]', params[:parent] %>

  <div class="field">
    <label for="lab_tags">Tags</label>
    <br>
    <%= text_area_tag :tags, lab.tags.map{|tag| tag.name }.join(', ') ,placeholder: 'Insert tags seperated by commas, for example "Biochemistry, Cell Biology"' %>
  </div>

  <div class="actions">
    <%= f.button :submit, class:'btn btn-default' %>
  </div>
<% end %>

