<main>
  <section class="general-info">
    <div class="general-overview">
      <h1 class="general-info-title"><%= link_to 'Labs Home', new_lab_path %></h1>
      <h2 class="general-info-create"><%= link_to 'New Lab', new_lab_path %></h2>
      <h2 class="general-info-search"><%= link_to 'Search query term or string', new_lab_path %></h2>
      
    </div>
    <div class="general-comments">
          <div class="observation-tags">
            <h2>Search Tags</h2>
            <a href="sample tag website 1">sample tag 1</a>
            <a href="sample tag website 2">sample tag 2</a>
            <a href="sample tag website 3">sample tag 3</a>
            <a href="sample tag website 4">sample tag 4</a>
            <a href="sample tag website 5">sample tag 5</a>
            <a href="sample tag website 6">sample tag 6</a>
          </div>
          <div class="user-tags">
            <h2>Your Tags</h2>
            <a href="sample tag website 1">sample tag 1</a>
            <a href="sample tag website 2">sample tag 2</a>
            <a href="sample tag website 3">sample tag 3</a>
            <a href="sample tag website 4">sample tag 4</a>
            <a href="sample tag website 5">sample tag 5</a>
            <a href="sample tag website 6">sample tag 6</a>
            <a href="sample tag website 7">sample tag 7</a>
            <a href="sample tag website 8">sample tag 8</a>
            <a href="sample tag website 9">sample tag 9</a>
            <a href="sample tag website 10">sample tag 10</a>
            <a href="sample tag website 11">sample tag 11</a>
            <a href="sample tag website 12">sample tag 12</a>
            <a href="sample tag website 13">sample tag 13</a>
            <a href="">sample tag 14</a>
          </div>
          <div class="spectrum-tags">
            <h2>Top Tags</h2>
            <a href="sample tag website 1">sample tag 1</a>
            <a href="sample tag website 2">sample tag 2</a>
            <a href="sample tag website 3">sample tag 3</a>
            <a href="sample tag website 4">sample tag 4</a>
            <a href="sample tag website 5">sample tag 5</a>
            <a href="sample tag website 6">sample tag 6</a>
            <a href="sample tag website 7">sample tag 7</a>
            <a href="sample tag website 8">sample tag 8</a>
            <a href="sample tag website 9">sample tag 9</a>
            <a href="sample tag website 10">sample tag 10</a>
            <a href="sample tag website 11">sample tag 11</a>
            <a href="sample tag website 12">sample tag 12</a>
            <a href="sample tag website 13">sample tag 13</a>
            <a href="sample tag website 14">sample tag 14</a>
            <a href="sample tag website 15">sample tag 15</a>
            <a href="sample tag website 16">sample tag 16</a>
            <a href="sample tag website 17">sample tag 17</a>
            <a href="sample tag website 18">sample tag 18</a>
            <a href="sample tag website 19">sample tag 19</a>
            <a href="sample tag website 20">sample tag 20</a>
            <a href="sample tag website 21">sample tag 21</a>
            <a href="sample tag website 22">sample tag 22</a>
            <a href="sample tag website 23">sample tag 23</a>
            <a href="sample tag website 24">sample tag 24</a>
            <a href="sample tag website 25">sample tag 25</a>
            <a href="sample tag website 26">sample tag 26</a>
            <a href="sample tag website 27">sample tag 27</a>
            <a href="sample tag website 28">sample tag 28</a>
            <a href="sample tag website 29">sample tag 29</a>
            <a href="sample tag website 30">sample tag 30</a>
            <a href="sample tag website 31">sample tag 31</a>
            <a href="sample tag website 32">sample tag 32</a>
            <a href="sample tag website 33">sample tag 33</a>
            <a href="sample tag website 34">sample tag 34</a>
            <a href="sample tag website 35">sample tag 35</a>
            <a href="sample tag website 36">sample tag 36</a>
            <a href="sample tag website 37">sample tag 37</a>
            <a href="sample tag website 38">sample tag 38</a>
            <a href="sample tag website 39">sample tag 39</a> 
            <a href="sample tag website 40">sample tag 40</a>
            <a href="sample tag website 41">sample tag 41</a>
            <a href="sample tag website 42">sample tag 42</a>
            <a href="sample tag website 43">sample tag 43</a>
            <a href="sample tag website 44">sample tag 44</a>
            <a href="sample tag website 45">sample tag 45</a>
            <a href="sample tag website 46">sample tag 46</a>
            <a href="sample tag website 47">sample tag 47</a>
            <a href="sample tag website 48">sample tag 48</a>
            <a href="sample tag website 49">sample tag 49</a>
            <a href="sample tag website 50">sample tag 50</a>
            <a href="sample tag website 51">sample tag 51</a>
            <a href="sample tag website 52">sample tag 52</a>
            <a href="sample tag website 53">sample tag 53</a>
            <a href="sample tag website 54">sample tag 54</a>
            <a href="sample tag website 55">sample tag 55</a>
            <a href="sample tag website 56">sample tag 56</a>
            <a href="sample tag website 57">sample tag 57</a>
            <a href="sample tag website 58">sample tag 58</a>
            <a href="sample tag website 59">sample tag 59</a>
            <a href="sample tag website 60">sample tag 60</a>
            <a href="sample tag website 61">sample tag 61</a>
            <a href="sample tag website 62">sample tag 62</a>
            <a href="sample tag website 63">sample tag 63</a>
            <a href="sample tag website 64">sample tag 64</a>
            <a href="sample tag website 65">sample tag 65</a>
            <a href="sample tag website 66">sample tag 66</a>
            <a href="sample tag website 67">sample tag 67</a>
            <a href="sample tag website 68">sample tag 68</a>
            <a href="sample tag website 69">sample tag 69</a>
          </div>
    </div>
  </section>
  
  <section class="listings">
    <% @labs.each do |lab| %>
    <div class="lab">
      <p>
      </p> <span class="lab-rank">1</span>
      <div class="lab-votes">
        <div class="lab-vote-up-button">
        </div>
        <div class="lab-vote-up-total">
          8371
        </div>
        <div class="lab-vote-value">
          8372
        </div>
        <div class="lab-vote-down-total">
          8373
        </div>
        <div class="lab-vote-down-button">
        </div>
      </div>
      <div class="lab-info">
        <p class="lab-title">
           <%= link_to lab.title, lab, class:"lab-link"  %>
        </p>
        <p class="lab-submitted">
          submitted
          <time class="lab-since-submitted">
            8 hours ago
          </time> by <a class="lab-creator">username</a> to <a class="lab-section">r/observation</a>
        </p>
        <ul class="lab-details">
          <li class="lab-comments">
            <a rel="nofollow" class="lab-comments-total">673 comments</a>
          </li>
          <li class="lab-questions" ">
            <a rel="nofollow" class="lab-questions-total">12 questions</a>
          </li>
          <li class="lab-hypotheses">
            <a rel="nofollow" class="lab-hypotheses-total">3 hypothesis</a>
          </li>
          <li class="lab-edit">
            <%= link_to 'Edit', edit_lab_path(lab), class:"lab-edit-link" %>
          </li>
          <li class="lab-delete">
            <%= link_to 'Delete', lab, method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
        </ul>
      </div>
      <div id="DIV_27">
      </div>
    </div>  
    <% end %>

  </section>
</main>
<style type="text/css">
  

</style>


