<main>
<section class="general-info" id="content-meta-info" data-content-id="<%= @lab.id %>" data-userid="<%= current_user.id %>">
  <div class="general-overview">
    <h2 class="general-info-title"><%= link_to 'All Labs', observations_path %></h2>
  </div>
  <div class="general-comments">
    <div class="observation-tags">
      <div class="comment">
        <div class="comment-type selected"> + comment</div>
        <div class="comment-type"> + question</div>
        <div class="comment-type"> + hypothesis</div>
      </div>
      <div id="comments-container">
      </div>
    </div>
  </div>
</section>
<section class="hypothesis-editor detail-text-view">
  <div class="general-lab-modifier">
    <div>
      <h2 class="general-lab-upvote">Upvote Lab <span><%= @lab.upvotes.count %></span></h2>
      <h2 class="general-lab-downvote">Downvote Lab <span><%= @lab.downvotes.count %></span></h2>
    </div>
  </div>
  <div class="lab-tags">
    <% @lab.tags.each_with_index do |tag, index| %>
      <div class="lab-tag applied"><%= tag.name %></div>
    <% end %>
  </div>
  <h2><%= @lab.title %></h2>
  <span class="comment">
    <span class="user">
      <span class="lighten">submitted by </span>
      <%= User.find(@lab.user_id).name %><br>
      <span class="lighten"><%= @lab.created_at %></span>
    </span>
  </span><br>
  <p id="notice"><%= notice %></p>
  <br>
  <p>
  <%= @lab.body %>
  </p>
</section>
<section class="hypothesis-editor visualization-view hidden">
  <div class="lab-graphic"></div>
</section>
</main>