<main>
<section class="general-info" id="content-meta-info" data-content-id="<%= @lab.id %>" data-userid="<%= current_user.try(:id) %>" data-content-type="<%= @lab.class%>" data-content-has-upvoted-current="<%= !@lab.upvotes.where(user_id: current_user.id).empty? if current_user %>" data-content-has-downvoted-current="<%= !@lab.downvotes.where(user_id: current_user.id).empty? if current_user%>" >
  <div class="general-overview">
    <h2 class="general-info-more"><%= link_to 'Try a new search', '/search?utf8=✓&search_term=&commit=Search' %></h2>
  </div>
  <div class="general-comments">
    <div class="observation-tags">
      <div class="comment">
        <div class="comment-type type-timeline"> Timeline</div>
        <div class="comment-type type-observation"> + observation</div>
        <div class="comment-type type-question"> + question</div>
        <div class="comment-type type-hypothesis"> + hypothesis</div>
      </div>

    <!-- TIMELINE TIME -->
      <div id="timeline-container-jq" class="comments-container-jq jquery-comments">
        <%= render "shared/timeline" %>
      </div>
    <!-- END TIMELINE -->

      <div id="observation-container-jq" class="comments-container-jq">
      </div>
      <div id="questions-container-jq" class="comments-container-jq">
      </div>
      <div id="hypothesis-container-jq" class="comments-container-jq">
      </div>
      <div id="citations-container-jq" class="comments-container-jq">
        <% if current_user.try(:id) == @lab.user_id %>
        <input id="fileupload" type="file" name="files[]" data-url="/upload-file?lab_id=<%= @lab.id %>" multiple>
      <% end  %>
        <ul>
        <% @lab.lab_files.each do |file| %>
          <li> <%= link_to file.name, file.url%> </li>
        <% end %>
        </ul>
      </div>
    </div>
</section>
<section class="hypothesis-editor detail-text-view">
  <div class="general-lab-modifier">
    <div>
      <button class="action main-upvote"><span class="main-upvote-count"></span><i class="fa fa-arrow-up"></i></button>
      <h2 class="general-lab-upvote">Upvote<span> <%= @lab.upvotes.count %></span></h2>
      <br>
      <button class="action main-downvote"><span class="main-downvote-count"></span><i class="fa fa-arrow-down"></i></button>
      <h2 class="general-lab-downvote">Downvote<span> <%= @lab.downvotes.count %></span></h2>
    </div>
  </div>
  <div class="lab-tags">
    <% @lab.tags.each_with_index do |tag, index| %>
      <div class="lab-tag applied"><%= tag.name %></div>
    <% end %>
  </div>
  <h2><%= @lab.title %></h2>
  <span class="comment">
    <span class="user">

      <% if (current_user && current_user.id == @lab.user_id) %>
        <br>
        <span class="lighten"> <%= link_to "Edit", edit_observation_path(@lab.id) %> </span>
      <% end %>
    </span>
  </span><br>
  <p id="notice"><%= notice %></p>
  <br>
  <p>
  <%= raw @lab.body %>
  </p>
  <br>
  <span class="lighten">submitted by </span>
      <%= link_to User.find(@lab.user_id).name, "/users/#{@lab.user_id}" %>
    <br>
    <span class="lighten"><%= @lab.created_at %></span>

  <!-- BREADCRUMB TIME! -->
    <br><br>
    <%= render "shared/breadcrumb" %>
  <!-- END BREADCRUMB -->

</section>
<section class="hypothesis-editor visualization-view hidden">
  <div class="lab-graphic"></div>
</section>
</main>
<div id="myModal" class="modal fade" role="dialog" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hypothesis Like Submission</h4>
      </div>
      <div class="modal-body">
        <p>In order to proceed with your "like" you must leave a review of this hypothesis</p>
        <input placeholder="Review title", required="true" type="text" id="review-submission-title" style="width:100%;height:50px;"> </input>
        <textarea id="review-submission-content" style="width:100%;height:200px;"> </textarea>
        <br>
        <button id="hypothesis-submit"> Submit</button>

      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
